html {
	font-family: 'Raleway', sans-serif;
}

body {

	font-family: 'Raleway', sans-serif;
	width: 100%;
	margin: 0;
	min-height: 800px;
}

.jumbotron {
	margin: 0;
	padding: 30px;
}

.jumbotron > h1{
	font-size: 3em;
}

a.link-card-large {
	height: 80px;
	text-decoration: none;
	color: #37b;
	text-align: center;
	padding: 10px;

}

a.link-card-large:hover {
	text-decoration: none;
	color: #f7b;

}

.link-text {

}

.machine-card {
	background: #eef;
	min-height: 300px;
	width: 100%;
	margin: 2px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;

}

.machine-card > div{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;

}

#gallery {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

}

#gallery > img {
		min-width: 30%;
		min-height: 200px;
		background: #333;
		border: solid 1px #333;
		margin: 4px;
}

 #modalCover{


 }

 ol, ul{
 	font-size: 1.2em

 }

ol > li, ul > li {
	height: 28px;

}

 table{
 	width: 95%;
 	margin: auto;
 }

table > thead > tr > th {
 	height: 30px;
 	padding: 2px;
 	padding-left: 10px;
 }

 table > tbody > tr {
 	height: 30px;
 }



 table > tbody > tr > td{
 	border: solid 1px #bbb;
 	border-collapse: collapse;
 	padding: 2px;
 	padding-left: 10px;

 }

.padded {
	padding-top: 40px;
	padding-bottom: 40px;

}

 section{
 	border-top: solid #ddd 1px;
 	margin-bottom: 50px;
 	padding-left: 30px;
 }

 section > h2{
	font-weight: 600;
 }

 #nav-bar {
 	width: 100%;
 	display: flex;
 	flex-flow: row;
 	align-content: center;
 	justify-content: flex-start;

 }

 #nav-bar > a {
 	display: flex;
 	flex-flow: row;
 	align-items: center;
 	justify-content: center;
 	width: 160px;
 	height: 40px;
 	background: #333;
 	color: #ddd;
 	font-size: 1.2em;
 	font-weight: 600;
 	text-decoration: none;
 }

 #nav-bar > a:hover {
 	background: #339;
 	color: #ddd;
 	text-decoration: none;
 }

 #nav-bar > a > i {
 	margin-right: 10px;

 }



 .search-input {
 	display: inline-block;
 	float: left;
 	margin-left: 2.5%;

 }
 
 #pressure_calc > .input-group	{
 	width: 300px;
 }

#pressure_calc > .input-group > .input-group-addon	{
 	width: 100px;
 }


.note {
	width: 90%;
	margin: auto;
	border: solid 2px #ddd;
	background: #eee;
	min-height: 30px;
	border-radius: 4px;
	margin: 10px;

}